/* slider styling */

.sliderText{
  font-size: 20px;
  color:#65C6FF;
}

/* Music mute button styling */

.btn-unmuted{
  color:#65C6FF !important;
}

.btn-unmuted .btn-unmuted:hover .btn-unmuted:active .btn-unmuted:focus{
  color:#65C6FF !important;
  box-shadow: none !important;
}

.btn-muted{
  color:red !important;
}

.btn-muted .btn-muted:hover .btn-muted:active .btn-muted:focus{
  color:red !important;
  box-shadow: none !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.modal-content h4{
  margin: 0 auto;
}

.modal-content div{
  padding-top: 20px;
  margin: 0 auto;
}

#blackPlayerButton{
  border: 1px solid grey;
  background-color: black;
  color: white;
}
#whitePlayerButton{
  border: 1px solid grey;
  background-color: white;
  color: black;
}
